*{
	margin: 15px;
	align-content: center;
}

.uno{
	font-size: 30px; 
	color: black;
	background-color: rgb(175, 83, 217);
	background-size: 60px;
	padding: 7px;

}
.mensaje{
	background-color: whitesmoke;
}

.comentario{
	border-bottom: solid green 2px;

}

.dos{
	background-color: coral;
	color: white;
}